{% extends 'base.html' %}

{% block content %}
{% for d in data.acc %}
<div class="card block">
    <div class="card-header">
        <p class="card-header-title">
            <a href="{{d.Website}}">
                {{d.Name}}
            </a>
        </p>
    </div>
    <div class="card-content">
        <div id="map_{{d.Slug}}" class="map"></div>
        <div class="columns">
            <div class="column is-4">
                <div class="wedding-block block">
                    Ask for the {{d.BlockName}} block.
                </div>
                <div class="phone block">
                    <code>{{d.Phone}}</code>
                </div>
                <div class="price block">
                    <code>${{d.Price}} / night</code> 
                </div>
            </div>
            <div class="column is-8">
                {% if d.Address %}
                {{d.Address[0]}}
                {% endif %}
                <br>
                <i>
                {% if d.City %}
                {{d.City[0]}}{% if d.State %}, {{d.State[0]}}{% endif %}{% if d.Postal %} {{d.Postal[0]}}{% endif %}
                {% endif %}
                </i>
                <hr>
                {{d.Description|safe}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script id = "map_generator">{% for d in data.acc %}
    const {{d.Slug}} = new maplibregl.Map({
        container: 'map_{{ d.Slug }}',
        style: 'https://api.maptiler.com/maps/39c06a26-0b36-4c9a-8467-62e0402dc331/style.json?key=TW5HwRPrq8DTWuAQ0Lmj',
        center: [{{ d.Lng[0] }}, {{ d.Lat[0] }}],
        zoom: 14
    });
    new maplibregl.Marker()
        .setLngLat([{{ d.Lng[0] }}, {{ d.Lat[0] }}])
        .addTo({{d.Slug}});
    {% endfor %}
</script>
{% endblock %}