{% extends 'base.html' %}

{% block content %}
<div class="card block">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{data.Photo[0].thumbnails.large.url}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-header">
        <p class="card-header-title">
            <a href="{{data.Website[0]}}">
                {{data.Name[0]}}
            </a>
        </p>
    </div>
    <div class="card-content">
        <div class="columns">
            <div class="column is-4">
                <div class="wedding-block block">
                    Ask for the {{data.BlockName}} block.
                </div>
                <div class="phone block">
                    <code>{{data.Phone}}</code>
                </div>
                <div class="price block">
                    <code>${{data.Price}} / night</code> 
                </div>
            </div>
            <div class="column is-8">
                {{data.Description}}
            </div>
        </div>
    </div>
</div>
{% endblock %}