<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta['ShortNames'] | join(" & ")}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap'); </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <script 
        src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
	    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
		crossorigin="anonymous"></script>
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
    <style>
        {% if not meta["Published"] %}
        html{
            background:#A60A3D;
        }
        {% endif %}
    </style>
</head>
<body>
    {% if not meta["Published"] %}
    <div id="bg" style="background: url('{{meta["UnderConstructionImage"][0].url}}') no-repeat center center; background-size: cover;"></div>
    {% endif %}
    <section id="header" class="section">
        <div class="container">
            <div class="columns">
                <div class = "column is-8 is-offset-2">
                    <div class="hero is-small">
                        <div class="hero-body">
                            <p class="title has-text-centered" {% if not meta["Published"] %}style="color:white;"{% endif %}>
                                <a href="{{ url_for('wedding.home')}}">{{meta['ShortNames'] | join(" & ")}}</a>
                            </p>
                        </div>
                    </div>
                    {% if meta["Published"] %}
                    <nav class="navbar block">
                        <div class="navbar-brand">
                            <a role = "button" class="navbar-burger" data-target="navMenu">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu" id="navMenu">
                            <a class="navbar-item" href="{{ url_for('wedding.home') }}">Home</a>
                            <a class="navbar-item" href="{{ url_for('wedding.rsvp') }}">RSVP</a>
                            <a class="navbar-item" href="{{ url_for('wedding.itinerary') }}">Itinerary</a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Travel</a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{{ url_for('wedding.accommodations') }}">Accommodations</a>
                                    <a class="navbar-item" href="{{ url_for('wedding.getting_around') }}">Getting Around</a>
                                    <a class="navbar-item" href="{{ url_for('wedding.things_to_do') }}">Things to Do</a>
                                </div>
                            </div>
                            <a class="navbar-item" href="{{ meta['Registry'] }}">Registry</a>
                            <a class="navbar-item" href="{{ url_for('wedding.qa') }}">Q & A</a>
                            <a class="navbar-item" href="{{ url_for('wedding.colophon') }}">Colophon</a>
                        </div>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if meta["Published"] %}
    <section id="body" class="section">
        <div class="container">
            <div class="columns">
                <div class = "column is-8 is-offset-2">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <section id="footer" class="section">
        <div class="container">
            <div class="columns">
                <div class = "column is-8 is-offset-2">
                    {% if current_user.is_authenticated %}
                    <footer class="footer is-transparent">
                        <div class="columns">
                            <div class="column is-4 is-offset-4">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="block">Viewing as <strong>{{current_user.name}}</strong>.</p>
                                        <button class="button is-small" onclick="window.location.href='{{url_for("auth.login")}}';" type="button">Change User</button>
                                        <button class="button is-small" onclick="window.location.href='{{url_for("auth.logout")}}';" type="button">Logout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section id="body" class="section">
        <div class="container">
            <div class="columns">
                <div class = "column is-8 is-offset-2">
                    <div class="has-text-centered">
                        <div id="construction-hero" class="hero is-large">
                            <div class="hero-body">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="title">Under construction!</p>
                                        <p class="subtitle">Check back soon.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</body>
<script>
    $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
        });

    // Hide login modal on click of close button
    $(".close-modal").click(function() {
        $(".rsvp").toggleClass("is-active");
        });
    });
</script>
</html>