<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta['ShortNames'] | join(" & ")}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap'); </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <script 
        src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
	    integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
		crossorigin="anonymous"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class = "column is-8 is-offset-2">
                    <div class="hero is-small">
                        <div class="hero-body">
                            <p class="title has-text-centered">
                                <a href="{{ url_for('wedding.home')}}">{{meta['ShortNames'] | join(" & ")}}</a>
                            </p>
                        </div>
                    </div>
                    <nav class="navbar block">
                        <div class="navbar-brand">
                            <a role = "button" class="navbar-burger" data-target="navMenu">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu" id="navMenu">
                            <a class="navbar-item" href="{{ url_for('wedding.home') }}">Home</a>
                            <a class="navbar-item" href="{{ url_for('wedding.rsvp') }}">RSVP</a>
                            <a class="navbar-item" href="{{ url_for('wedding.calendar') }}">Itinerary</a>
                            <a class="navbar-item" href="{{ url_for('wedding.travel') }}">Travel</a>
                            <a class="navbar-item" href="/">Registry</a>
                            <a class="navbar-item" href="{{ url_for('wedding.qa') }}">Q & A</a>
                            <a class="navbar-item" href="{{ url_for('wedding.colophon') }}">Colophon</a>
                        </div>
                    </nav>
                    {% block content %} {% endblock %}
        
                    {% if current_user.is_authenticated %}
                    <footer class="footer is-transparent">
                        <div class="columns">
                            <div class="column is-6 is-offset-3">
                                <div class="card">
                                    <div class="card-content">
                                        Viewing as <strong>{{current_user.name}}</strong>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

        });

    // Hide login modal on click of close button
    $(".close-modal").click(function() {
        $(".rsvp").toggleClass("is-active");
    })

    // Hide login modal on click outside.
    $("body").click(function(e) {
        if($(e.target).is(".modal-background")) {
            $(".rsvp").toggleClass("is-active");
        }
    })
    
    });
    
</script>
</html>