{% extends 'base.html' %}

{% block content %}
{% if data['Names'] %}
<div class="has-text-centered">
    <div id="names-hero" class="hero is-small">
        <div class="hero-body">
            <div class="card">
                <div class="card-content">
                    {% for name in data['Names'] %}
                    <p class="title">{{name}}</p>
                    {% if not loop.last %}
                    <p class="subtitle">&</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if data['CityStates'] %}
    <div id="places-hero" class="hero is-small">
        <div class="hero-body">
            <div class="card">
                <div class="card-content">
                    {% for c in data['CityStates'] %}
                    <p class="title">{{c}}</p>
                    {% if not loop.last %}
                    <p class="subtitle">&</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if data['UniqueDates'] %}
    <div id="dates-hero" class="hero is-small">
        <div class="hero-body">
            <div class="card">
                <div class="card-content">
                    {% for d in data['UniqueDates'] %}
                    <p class="title">{{d.strftime('%B %d, %Y')}}</p>
                    {% if not loop.last %}
                    <p class="subtitle">-</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}