{% extends 'base.html' %}
{% block content %}

<div class="container luminosity-blend">
    <div class="columns">
        <!-- <section class="hero is-link is-fullheight-with-navbar">
        <div class="hero-body">
            <p class="title">
            Fullheight hero with navbar
            </p>
        </div>
        </section> -->
        <div class="luminosity-blend column is-12">
            <div class="image-caption">
                <span class="tag">Photo by Bella Purdy.</span>
            </div>
            <figure class="image">
                <div class="hover-revealer" style="background-image: url({{url_for('static',filename='cute_picture.png')}})">
                <img class="hover-hidden" src="{{url_for('static',filename='silly_picture.png')}}">
                </div>
            </figure>
        </div>
    </div>
</div>
{% endblock %}