{% extends 'base.html' %}

{% block content %}
{% for date, events in data %}
    <div class="card block">
        <div class="card-header">
            <p class="card-header-title">{{date.strftime('%B %d, %Y')}}</p>
        </div>
        <div class="card-content">
            {% for event in events %}
            <div id="{{event.Slug}}-map" class="block"></div>
            <div class="columns">
                <div class="column is-4">
                    <code>{{event.StartTime.strftime('%I:%M %p')}} - {{event.EndTime.strftime('%I:%M %p')}}</code>
                </div>
                <div class="column is-8">
                    <div class="card block">
                        <div class="card-header">
                            <p class="card-header-title">
                                {{event.Name}}
                            </p>
                        </div>
                        <div class="card-content">
                            {% for v in event.VenueURL %}
                            <h4><a href="{{v}}">{{event.VenueName[0]}}</a></h4>
                            {% endfor %}
                            <p><i>
                            {% for a in event.VenueAddress %}
                            {{a}}
                            {% endfor %}
                            <br>
                            {% for c in event.VenueCity %}
                            {{c}}
                            {% endfor %}
                            </i>
                            <hr>
                            <p>{{event.Description}}</p>
                            {% if event.Artists %}
                            <hr>
                            {% for a in event.Artists %}
                            {{a.Role}} by <a href="{{a.Website}}">{{a.Name}}</a>.
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% for date, events in data %}
    {% for event in events %}
    {{event}}
    <script>
        var map = new maplibregl.Map({
            container: '{{ event.Slug }}'.concat('-map'),
            style:
                'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
            zoom: 15,
            center: [-122.447303, 37.753574]
        });
    </script>
    {% endfor %}
{% endfor %}
{% endblock %}