{% extends 'base.html' %}

{% block content %}
{% for date, events in data.events %}
    <div class="card block">
        <div class="card-header">
            <p class="card-header-title">{{date.strftime('%B %d, %Y')}}</p>
        </div>
        <div class="card-content">
            {% for event in events %}
            <div id="{{event.Slug}}-map" class="block"></div>
            <div class="columns">
                <div class="column is-4">
                    <code>{{event.StartTime.strftime('%I:%M %p')}} - {{event.EndTime.strftime('%I:%M %p')}}</code>
                </div>
                <div class="column is-8">
                    <div class="card block">
                        <div class="card-header">
                            <p class="card-header-title">
                                {{event.Name}}
                            </p>
                        </div>
                        <div class="card-content">
                            {% if event.VenueURL %}
                            <h4><a href="{{event.VenueURL[0]}}">{{event.VenueName[0]}}</a></h4>
                            {% else %}
                            <h4>{{event.VenueName[0]}}</h4>
                            {% endif %}
                            {% if event.VenueAddress %}
                            {{event.VenueAddress[0]}}
                            {% endif %}
                            <br>
                            <i>
                            {% if event.VenueCity %}
                            {{event.VenueCity[0]}}{% if event.VenueState %}, {{event.VenueState[0]}}{% endif %}{% if event.VenuePostal %} {{event.VenuePostal[0]}}{% endif %}
                            {% endif %}
                            </i>
                            {% if event.Description %}
                            <hr>
                            <p>{{event.Description|safe}}</p>
                            {% endif %}
                            {% if event.Artists %}
                            <hr>
                            {% for role in event.Artists.keys() %}
                                {{role}} by 
                                {% if event.Artists[role]|length==1%}{% for artist in event.Artists[role] %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>.{% endfor %}{% endif %}
                                {% if event.Artists[role]|length==2%}{% for artist in event.Artists[role] %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>{% if not loop.last %} and {% else %}.{%endif%}{% endfor %}{% endif %}
                                {% if event.Artists[role]|length>2%}{% for artist in event.Artists[role] %}{% if loop.last %} and {% endif %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>{% if not loop.last %}, {% else %}.{%endif%}{% endfor %}{% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if event.GettingThere %}
                            <hr>
                            <h4><strong>Getting There</strong></h4>
                            <p>{{event.GettingThere|safe}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}