{% extends 'base.html' %}

{% block content %}
{% for date, events in data %}
    <div class="card block">
        <div class="card-header">
            <p class="card-header-title">{{date.strftime('%B %d, %Y')}}</p>
        </div>
        <div class="card-content">
            {% for event in events %}
            <div id="{{event.Slug}}-map" class="block"></div>
            <div class="columns">
                <div class="column is-4">
                    <code>{{event.StartTime.strftime('%I:%M %p')}} - {{event.EndTime.strftime('%I:%M %p')}}</code>
                </div>
                <div class="column is-8">
                    <div class="card block">
                        <div class="card-header">
                            <p class="card-header-title">
                                {{event.Name}}
                            </p>
                        </div>
                        <div class="card-content">
                            {% if event.VenueURL %}
                            <h4><a href="{{event.VenueURL[0]}}">{{event.VenueName[0]}}</a></h4>
                            {% else %}
                            <h4>{{event.VenueName[0]}}</h4>
                            {% endif %}
                            <p><i>
                            {% if event.VenueAddress %}
                            {% for a in event.VenueAddress %}
                            {{a}}
                            {% endfor %}
                            {% endif %}
                            <br>
                            {% if event.VenueCity %}
                            {{event.VenueCity[0]}}{% if event.VenueState %}, {{event.VenueState[0]}}{% endif %}
                            {% endif %}
                            </i>
                            {% if event.Description %}
                            <hr>
                            <p>{{event.Description|safe}}</p>
                            {% endif %}
                            {% if event.Artists %}
                            <hr>
                            {% for role in event.Artists.keys() %}
                                {{role}} by 
                                {% if event.Artists[role]|length==1%}{% for artist in event.Artists[role] %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>.{% endfor %}{% endif %}
                                {% if event.Artists[role]|length==2%}{% for artist in event.Artists[role] %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>{% if not loop.last %} and {% else %}.{%endif%}{% endfor %}{% endif %}
                                {% if event.Artists[role]|length>2%}{% for artist in event.Artists[role] %}{% if loop.last %} and {% endif %}<a href="{{ artist.Website }}">{{ artist.Name }}</a>{% if not loop.last %}, {% else %}.{%endif%}{% endfor %}{% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% for date, events in data %}
    {% for event in events %}
    {{event}}
    <script>
        var map = new maplibregl.Map({
            container: '{{ event.Slug }}'.concat('-map'),
            style:
                'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
            zoom: 15,
            center: [-122.447303, 37.753574]
        });
    </script>
    {% endfor %}
{% endfor %}
{% endblock %}