{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class = "column is-8 is-offset-2">
        {% for qa in data.qa %}
            <div class="columns">
                <div class="column is-4">
                    <div class="subtitle box">{{qa.Question|safe}}</div>
                </div>
                <div class="column is-8">
                    <div class="box">{{qa.Answer|safe}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}