{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% for p in people %}
    <div class = "person-rsvp card block">
        {% if p.Name %}
        <header class="card-header">
            <h3 class="card-header-title">{{p.Name}}</h3>
        </header>
        {% endif %}
        <div class="card-content">
            <div id = {{p.rsvp_id}} class = "field question">
                {% if p.Name %}
                <label class="label">Will this person be attending?</label>
                {% else %}
                <label class="label">Will you be bringing a guest?</label>
                {% endif %}
                <div class="control">
                    <div class="select">
                        <select name = {{p.rsvp_id}} onchange="this.form.submit()">
                            <option {% if not p.RSVP %}selected{% endif %}></option>
                            <option value = "y" {% if p.RSVP == "Yes" %}selected{% endif %}>Yes</option>
                            <option value = "n" {% if p.RSVP == "No" %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if p.RSVP == "Yes" %}
            {% if not p.Name %}
            <div id="{{p.name_id}}" class = "field question">
                <label class="label">What is your guest's name?</label>
                <div class="control">
                    <input class="input" type="text" name="{{p.name_id}}"
                    placeholder = "" value="{{ p.Name }}"></input>
                </div>
            </div> 
            {% endif %}
            <div id="{{p.meal_id}}" class = "field question">
                <label class="label">Would this person prefer a vegetarian or vegan meal?</label>
                <div class="control">
                    <div class="select">
                        <select name="{{p.meal_id}}"">
                            <option {% if not p.Meal %}selected{% endif %}></option>
                            <option value = "veggie" {% if p.Meal[0] == "Vegetarian" %}selected{% endif %}>Vegetarian</option>
                            <option value = "vegan" {% if p.Meal[0] == "Vegan" %}selected{% endif %}>Vegan</option>
                        </select>
                    </div>
                </div>
            </div> 
            {% if not p.Email %}
            <div id="{{p.email_id}}" class = "field question">
                <label class="label">We didn't have this person's email address. Enter it if they'd like email updates.</label>
                <div class="control">
                    <input class="input" type="email" name="{{p.email_id}}"
                    placeholder="Enter your email address."
                    value="{{ request.form['email_id'] }}"></input>
                </div>
            </div>
            {% endif %}
            <div id="{{p.ae_id}}" class = "field question">
                <label class="label">Anything else we should know?</label>
                <div class="control">
                    <input class="input" type="text" name="{{p.ae_id}}"
                            value="{{ p.AnythingElse }}"></input>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="field">
        <div class="control">
            <button class="button" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}