{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %} 
{% if messages %}
<div class="modal rsvp is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card block">
            <div class="card-content">
                <div class="card-header">
                    {% for message in messages %}
                    <p class="card-header-title label">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">
                        <button class="button close-modal is-small is-outlined" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="container luminosity-blend">
    <div class="columns">
        <div class="luminosity-blend column is-12">
            <figure class="image ">
                <div class="hover-revealer" style="background-image: url({{url_for('static',filename='cute.png')}})">
                    <img class="hover-hidden" src="{{url_for('static',filename='silly.png')}}">
                    <div class="welcome-message is-size-5 has-text-left box">{{data.LandingText|safe}}</div>
                    <div class="caption has-text-left tag is-size-7">Photo by Bella Purdy</div>
                </div>
            </figure>
        </div>
    </div>
</div>
{% endblock %}